a, p, label {
    font-family: Arial, Verdana, sans-serif;
}
.buttons a {
    display: block;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 5px;
    padding: 2px;
}

pre {
    overflow: auto;
    font-family:courier new;
    font-size: 0.8em;
    color: green;
    height: 100%
}

#links a:hover {
    border-color: gray !important;
}
#links a.current {
    border: 1px solid silver;
    background: #bada55;
}

label {
    width: 45%;
    display: inline-block;
}
input, select {
    width: 45%;
}